body {
    background-color: #e1e1e1;
    position: relative;
}

#well {
    background-color: #fff;
}

.contheader {
    padding: 10px;
}

.content hr {
    border-top: 1px solid #e5e5e5;
    margin-top: 0 !important;
}

.content .changes span:before {
    content: "•";
}

.list {
    min-height: 450px;
    background-color: #fff;
}

.cell {
    height: auto;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.cell img {
    width: 30px;
    height: 30px;
}

.user_avatar {
    float: left;
    margin-right: 10px;
}


.time {
    padding: 10px;
    float: right;
    font-size: 10px;
}

.title {
    padding: 5px;
    padding-left: 10px;
    font-size: 16px;
}

#header {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.doComment{
    float: right;
}
@media screen and (max-width: 767px) {
    .title{
        font-size: 14px;
    }
}

#totop{
    width: 24px;
    position: fixed;
    display: block;
    top: 442px;
    right: 0px;
    background-color: #ccc;
    padding: 12px 0 12px 5px;
    border-radius: 12px 0 0 12px;
    color: #000;
}
.bs-docs-footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.bs-docs-footer-links li {
    display: inline-block;
}